.btn-primary{
  background-color: 356859;
}

mat-card{
  max-width: 300px;
  margin: auto;
  margin: auto;
  text-align: center;
}

body{
  background-color: #FFFBE6;
}
.mat-app-background{
  background-color: #356859;
}

.btn-success{
  background-color: #FD5523;
}

.title{
  margin: auto;
  background-color: #356859;
  color: #FFFBE6;
}

