.btn-primary{
  background-color: 356859;
}

mat-card{
  width: 256px
}

body{
  background-color: #FFFBE6;
}
.mat-app-background{
  background-color: #356859;
}

.btn-success{
  background-color: #FD5523;
}

mat-card{
  width: 50%;
  margin: auto;
  text-align: center;

}

.title{
  margin: auto;
  background-color: #356859;
  color: #FFFBE6;
}

