.mat-app-background{
  font-size: 32px;
}

.btn-primary{
  background-color: #356859;
}

body{
  background-color: #B9E4C9;
}

mat-card{
  width: 75%;
  margin: auto;
  text-align: center;
  background-color:#356859;
}

.title{
  margin: auto;
  background-color: #FFFBE6;
  color: #FD5523;
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px;
}

.form-group{
  align-content: space-between;
}

mat-card-actions {
  display: inline-flexbox;
  padding: 15px;
}
