.mat-app-background{
  font-size: 32px;
}

.btn-primary{
  background-color: #356859;
}

body{
  background-color: #B9E4C9;
}

mat-card{
  width: 50%;
  margin: auto;
  text-align: center;
  background-color:#356859;
}

.title{
  margin: auto;
  background-color: #FFFBE6;
  color: #FD5523;
  ;
  font-size: 32px;
}