<div class="welcome">
	<mat-card color="mat-card">
		<mat-card-title class="title">Take a dip in this awesome bears Quiz</mat-card-title>
	</mat-card>
	<div *ngFor="let q of quiz">
		<mat-card>
			<mat-card-title class="title">{{q.label}}</mat-card-title>
			<mat-card-subtitle>{{q.description}}</mat-card-subtitle>
			<mat-card-actions>
				<button mat-raised-button color="accent">
					<a routerLink="/{{q.name}}" class="btn btn-primary">{{q.label}} bear quiz</a>
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div> 